	 /* @group General Styles */

* { margin: 0px; padding: 0px; }


p { margin: 0; padding:0; }
ul,
ol { list-style: none; list-style-position: outside; margin: 0px 0px 15px 0px; }
a {color:#000; text-decoration: none; outline: none; }
a:hover {color:#999;}
:focus { outline: none; }
a img { border-width: 0px; }
img,
textarea { display: block; }
strong { font-weight: bold; }
em { font-style: oblique; }
abbr,
acronym { border: none; }
table { border-collapse: collapse; border-spacing: 0px; }
td,
th,
input,
button,
textarea,
select { font: 12px/15px Arial, Verdana, sans-serif; }
caption,
th,
td { text-align: left; vertical-align: top; }
fieldset { border: 0px; }
legend { font-weight: bold; }
address,
caption,
cite,
pre,
code,
dfn,
th,
var { font-style: normal; font-weight: normal; font-size: 12px; }
blockquote:before,
blockquote:after,
q:before,
q:after { content: ''; content: none; }
button { cursor: pointer; }
hr { display: none; }
/* @end */

/* @group Clear fix */
.group:after,
ul:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
/* @end */

body { font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 14px;position:relative;background-color:#fff;color: #000000; margin:0; padding:0; font-weight:400; font-style:normal;  }

.css-images-preloader { display:none;}

#overlay { display:none; z-index:9980; cursor:pointer;width:100%; height:100%; position:fixed; top:0; left:0; background-color:#000; opacity:0.50; -moz-opacity:0.50; -webkit-opacity:0.50;}
.lt-ie9 #overlay {  background: transparent url(../images/black-50perc.png) 0 0 repeat; }

header { z-index:9999; background-color:#111; width:100%; left:0; top:0px; position:fixed; height:51px; min-width:790px;}
header h1 {margin:12px 0 0 20px; padding:0;  float:left; }
header h1 a { color:#fff; width:163px; height:21px; display:block; text-indent:-20000px; background:url(../images/logo.png) left top no-repeat;}
header nav ul { position:absolute; top:15px; right:20px; margin:0;}
header nav ul li { display:block; float:left; font-size:12px; line-height:20px; font-weight:400; border-left:1px solid #666; padding:0 10px}
header nav ul li:first-child { border-left:none;}
header nav ul li a {color:#fafafa; }

section { margin:72px 20px 0 20px; min-width:790px;}

article.filtered { display:none;}
article .title { display:none;}
article .category { display:none;}
article .cover { margin:0px 0 20px 0; cursor:pointer; }
article .cover span { display:none; width:130px; font-size:11px; padding: 5px;background-color:#000;color: #fff; position: absolute; bottom: 0;left: 0; }
article .description { display:none;}
article .images { display:none;}

#project_detail { z-index:9990; display:none; position:absolute; top:109px; left:0px; padding:0 20px 20px 20px; width: 802px; background-color:#fff}
#control_bar {  z-index:9991; position:fixed; background-color:#FFFFFF; width:100%; height:58px; width:842px; left:0; top:51px;}
#close_project { display:block; position:absolute; top:20px; left:804px; display:block; width:17px; height:17px; background:url(../images/close.png) 50% 50% no-repeat;  }
#project_title { display:block; position:absolute; left:20px; font-size:15px; padding:20px 0 0 0; color:#111111; }
#project_title span { color:#999;}

#project_detail .images { position:relative; }
#project_detail .images ul { margin:0; padding:0;}
#project_detail .images li { margin:0 0 30px 0; border:1px solid #eee;}
#project_detail .images li img {  }
#project_detail .images li p { font-size:12px; padding: 8px; background-color:#fafafa; color:#666; border-top:1px solid #eee;  }

#project_detail .title { display:none; clear:both; font-size:22px; padding: 60px 0 10px 0px;font-weight:normal;}
#project_detail .category { display:none;}
#project_detail .description {  line-height:16px; font-size:12px; clear:both; padding:0 100px 0 0;}
#project_detail .description p {  line-height:20px; margin:0 0 10px 0; }
#project_detail .description a {  color:#666; background:url(../images/icon-link.gif) 0 0 no-repeat; padding-left:17px;}
#project_detail .description a:hover { border-bottom:1px dotted #666; } 
#project_detail .description li { padding:0 0 2px 0 ; }

.image-loader { min-height:50px; background: transparent url(../images/ajax-loader.gif) 50% 50% no-repeat;}